.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal__content__wrapper {
  z-index: 2;
  position: fixed;
  max-width: 600px;
  max-height: 550px;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  border-radius: 5px;
  background: #141519;
  overflow: scroll;
}
