.listItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: var(--main-font-color);
  transition: 0.2s ease-in-out;
}

.listItem:hover {
  color: var(--accent-font-color);
}

.listItem img {
  margin-bottom: 1rem;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.listItem img:hover {
  transform: translateY(-1rem);
}
