main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  width: 100%;
}

.main__content__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://i.pinimg.com/originals/95/91/7e/95917e03d139129e84f45b498e005fd7.jpg');
  background-position: 50% 15%;
  background-size: cover;
  width: 100%;
  height: 60px;
  margin: 2rem 0;
  border-radius: 5px;
}

.main__content__banner__muted {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--main-font-color);
  text-transform: capitalize;
  border-radius: 5px;
}

.main__content__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem 2rem;
}
